{{#extends 'consignments'}}

    {{#block "consignmentContent"}}
        {{!-- Summary --}}  
        <div class="row mt-4 text-center">
            <div class="col mb-2">
            </div> 
            <div class="col mb-2">
                All <span class="fst-italic">({{length consignments}})</span>
            </div>
            {{#each consignmentSummary}}
            <div class="col mb-2">
                {{@key}} <span class="fst-italic">({{this}})</span> 
            </div>
            {{/each}}
            <div class="col mb-2">
            </div>
        </div>
        {{!-- Table --}}
        <table class="mt-4 table table-hover">
            {{!-- header --}}
            <thead>
                <tr>
                    <th scope="col">Consignment #</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Last Update (SGT)</th>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Status</th>
                    <th scope="col">Shipping Address</th>
                    <th scope="col">Action</th>
                    {{!-- view more will see product description, condition comment, images --}}
                </tr>
            </thead>
            {{!-- content --}}
            <tbody>
                {{#each consignments}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                    <td>{{this.user.lastname}}, {{this.user.firstname}}</td>
                    <td>{{sgtime this.updated_at}}</td>
                    <td>
                        <div>{{#if this.product.product_gallery_1}}<img src="{{this.product.product_gallery_1}}" width="100" height="100" />{{/if}}</div>
                        <div>{{this.product.name}}</div>
                    </td>
                    <td>{{this.product.category.name}}</td>
                    <td>{{this.product.quantity}}</td>
                    <td>
                        <div>{{this.product.condition}}</div>
                        <div>{{this.product.condition_description}}</div>
                    </td>
                    <td>{{this.status}}</td>
                    <td>{{this.user.shipping_address}}</td>
                    <td>
                        <a type="button" class="btn btn-outline-success" href="/consignments/{{this.id}}/update">Edit</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{/block}}

{{/extends}}