{{#extends 'consignments'}}

    {{#block "consignmentContent"}}
        {{!-- Summary --}}  
        <div class="row mt-4 text-center">

            <div class="col mb-2">
                {{!-- ref: https://www.npmjs.com/package/handlebars-helpers#and --}}
                <a href="/consignments{{#and searchCriteria searchCriteria.search}}?search={{searchCriteria.search}}{{/and}}">
                    All <span class="fst-italic">({{length consignments}})</span>
                </a>
            </div>
            {{#each consignmentSummary}}
            <div class="col mb-2">
                {{!-- ref: https://stackoverflow.com/a/69718014 --}}
                <a href="/consignments?consignment_status={{lowercase @key}}{{#and ../searchCriteria ../searchCriteria.search}}&search={{../searchCriteria.search}}{{/and}}">
                {{@key}} <span class="fst-italic">({{this}})</span>
                </a>
            </div>
            {{/each}}
        </div>
        {{!-- Table --}}
        <table class="mt-4 table table-hover">
            {{!-- header --}}
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Last Update</th>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Status</th>
                    <th scope="col">Shipping Address</th>
                    <th scope="col">Action</th>
                    {{!-- view more will see product description, condition comment, images --}}
                </tr>
            </thead>
            {{!-- content --}}
            <tbody>
                {{#each consignments}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                    <td>{{this.user.lastname}}, {{this.user.firstname}}</td>
                    <td>{{sgtime this.updated_at}}</td>
                    <td>
                        <div>{{#if this.product.product_gallery_1}}<img src="{{this.product.product_gallery_1}}" width="100" height="100" />{{/if}}</div>
                        <div>{{this.product.name}}</div>
                    </td>
                    <td>{{this.product.category.name}}</td>
                    <td>{{this.product.quantity}}</td>
                    <td>
                        <div>{{this.product.condition}}</div>
                        <div>{{this.product.condition_description}}</div>
                    </td>
                    <td>{{this.status}}</td>
                    <td>{{this.user.shipping_address}}</td>
                    <td>
                        <a type="button" class="btn btn-outline-secondary mt-2" href="/consignments/{{this.id}}/update">Edit</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{/block}}

{{/extends}}