{{#extends 'base'}}

    {{#block "content"}}
        {{!-- each card dashboard --}}
        <h4 class="mt-3">Dashboard</h4>
        <div class="row mt-4">
            <div class="col">
                <div class="card total-card-bg" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h6 class="card-subtitle mb-2 text-muted">Total Sales</h6>
                        <h1>S${{toFixed (divide totalSales 100) 2}}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card total-card-bg" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h6 class="card-subtitle mb-2 text-muted">Total Orders</h6>
                        <h1>{{orderSummary.Total}}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card total-card-bg" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h6 class="card-subtitle mb-2 text-muted">Total Consignments</h6>
                        <h1>{{consignmentSummary.Total}}</h1>
                    </div>
                </div>
            </div>
        </div>
        {{!-- order dashboard --}}
        <div class="row mt-4">
            <div class="col">
                <div class="card card-bg" style="width: 70rem;">
                    <h5 class="card-subtitle mb-2 text-muted mt-3 text-center">Orders</h5>
                    <div class="card-body">
                        <div class="row text-center">
                            {{#each orderSummary}}
                            <div class="col">
                                <h1>{{this}}</h1>
                                <h6 class="card-subtitle mb-2 text-muted">{{@key}}</h6>
                            </div>
                            {{/each}}
                        </div>
                        
                    </div> 
                </div>
            </div>
        </div>
        {{!-- Consignment dashboard --}}
        <div class="row mt-4">
            <div class="col">
                <div class="card card-bg" style="width: 70rem;">
                    <h5 class="card-subtitle mb-2 text-muted mt-3 text-center">Consignments</h5>
                    <div class="card-body">
                        <div class="row text-center">
                            {{#each consignmentSummary}}
                            <div class="col">
                                <h1>{{this}}</h1>
                                <h6 class="card-subtitle mb-2 text-muted">{{@key}}</h6>
                            </div>
                            {{/each}}
                        </div>
                        
                    </div> 
                </div>
            </div>
        </div>
        {{!-- summary dashboard --}}
        <div class="row mt-4 sum-dashboard">
            <div class="card sum-card-bg" style="width: 50rem;">
                <ul class="list-group list-group-flush mt-2 mb-2">
                    <li class="list-group-item"><span class="fw-bold">Number of customers</span> {{length customers}}</li>
                    <li class="list-group-item"><span class="fw-bold">Number of products</span> {{length products}}</li>
                </ul>
            </div>
        </div>
    {{/block}}

{{/extends}}