{{#extends 'orders'}}
    {{#block "orderContent"}}
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
            <div class="row">
                <div class="row mt-4">
                    <h4>Update - Order #{{order.id}}</h4>
                </div>
                <div class="row mt-4">
                    <div class="col col-4">
                        <div class="card">
                            <div class="card-body">
                                {{{orderForm}}}
                                <div class="d-grid gap-2">
                                    <input type="submit" class="btn btn-secondary mt-4" type="button" value="Update Order" />
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- customer / products / payment info --}}
                    <div class="col col-8">
                        <div class="row">
                            <div class="card pt-3">
                                <h4 class="text-center">Customer</h4>
                                <table class="mt-2 table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col-4">Name</th>
                                            <th scope="col-4">Email</th>
                                            <th scope="col-4">Shipping Address</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                <td>{{order.user.lastname}}, {{order.user.firstname}}</td>
                                                <td>{{order.user.email}}</td>
                                                <td>{{order.orderShipment.0.shipping_address}}</td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="card pt-3">
                                <h4 class="text-center">Products</h4>
                                <table class="mt-2 table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col-4">Name</th>
                                            <th scope="col-4">Quantity</th>
                                            <th scope="col-4">Unit Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each order.products}}
                                            <tr>
                                                <td>{{this.name}}</td>
                                                <td>{{this._pivot_quantity}}</td>
                                                <td>SGD {{toFixed this.selling_price 2}}</td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="card pt-3">
                                <h4 class="text-center">Payment Info</h4>
                                <table class="mt-2 table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Payment Total</th>
                                            <th scope="col">Payment Method</th>
                                            <th scope="col">Payment Ref (Stripe)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>SGD {{toFixed (divide order.payment_amount 100) 2}}</td>
                                            <td>{{order.payment_method}}</td>
                                            <td><a href="https://dashboard.stripe.com/test/payments/{{order.payment_reference}}" target="_blank">{{order.payment_reference}}</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {{/block}}
{{/extends}}