views/carts/listing.hbs{{#extends 'base'}}

    {{#block "content"}}
        <div class="row mt-4">
            {{!-- Nav tap --}}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Abandoned cart</button>
                </li>
            </ul>
            {{!-- content --}}
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        {{!-- Table --}}
                        {{!-- header --}}
                        <table class="mt-4 table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Order#</th>
                                    <th scope="col">Customer Name</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Method</th>
                                    <th scope="col">Emails Sent</th>
                                    <th scope="col">Date Last Sent</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            {{!-- content --}}
                            <tbody>
                                {{#each carts}}
                                <tr>
                                    <th scope="row">1</th>
                                    <td>
                                        {{#if this.user.firstname}}
                                            {{this.user.firstname}} {{this.user.lastname}}
                                        {{else}}
                                            Anonymous
                                        {{/if}}
                                    </td>
                                    <td>S${{this.totalAmount}}</td>
                                    <td>{{sgtime this.updated_at}}</td>
                                    <td>Email</td>
                                    <td>0</td>
                                    <td></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-secondary">Send Abandoned Email</button>
                                    </td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {{/block}}

{{/extends}}