{{#extends 'users'}}

    {{#block "userContent"}}
        <div class="row">
            {{!-- Customers Table --}}
            <table class="mt-4 table table-hover">
                {{!-- header --}}
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        {{!-- <th scope="col">Name</th>
                        <th scope="col">Type</th> --}}
                        <th scope="col">Email</th>
                        <th scope="col">Federated Login</th>
                        <th scope="col">Username</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Billing Address</th>
                        <th scope="col">Shipping Address</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {{!-- content --}}
                <tbody>
                    {{#each customers}}
                    <tr>
                        <th scope="row">{{this.id}}</th>
                        {{!-- <td></td>
                        <td></td> --}}
                        <td>{{this.email}}</td>
                        <td>{{this.federated_login}}</td>
                        <td>{{this.username}}</td>
                        <td>{{this.firstname}}</td>
                        <td>{{this.lastname}}</td>
                        <td>{{this.billing_address}}</td>
                        <td>{{this.shipping_address}}</td>
                        <td>
                            {{#if this.active}}
                                <a type="button" class="btn btn-outline-danger" href="/users/{{this.id}}/deactivate">Deactivate</a>
                            {{else}}
                                <a type="button" class="btn btn-outline-secondary" href="/users/{{this.id}}/activate">Activate</a>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        
    {{/block}}

{{/extends}}