{{#extends 'products'}}

    {{#block "productContent"}}
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        <div class="row">
            <div class="row mt-4">
                <h4>Create New Product Listing</h4>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="card" style="width: 35rem;">
                        <div class="card-body">
                            {{{productForm}}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    {{!-- Product Images --}}
                    {{#times 2}}
                    <div class="card" style="width: 35rem;">
                        <img src="" style="display:none" id="uploaded_image_product_image_{{this}}" width="200" height="200" />
                        <div class="card-body">
                            <a href="#" class="btn btn-primary" id="upload_widget_product_image_{{this}}">Upload</a>
                            &nbsp; Product Image {{this}}
                        </div>
                    </div>
                    {{/times}}
                    {{!-- Product Gallery Images --}}
                    {{#times 8}}
                    <div class="card" style="width: 35rem;">
                        <img src="" style="display:none" id="uploaded_image_product_gallery_{{this}}" width="200" height="200" />
                        <div class="card-body">
                            <a href="#" class="btn btn-primary" id="upload_widget_product_gallery_{{this}}">Upload</a>
                            &nbsp; Product Gallery Image {{this}}
                        </div>
                    </div>
                    {{/times}}
                </div>
            </div>
            <div class="row mt-4 mb-4">
                <div class="col">
                    <div class="d-grid gap-2">
                        <input type="submit" class="btn btn-secondary" type="button"/>
                    </div>
                </div>
            </div>

        </div>
    </form>
    {{/block}}

    {{#block "js"}}
    <!-- cloudinary widget -->
    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>
        // function for upload widget to get a signature
        async function generateSignature(callback, params_to_sign) {
            let response = await axios.get('/cloudinary/sign', {
                'params': {
                    'params_to_sign' : params_to_sign
                }
            });
            // callback is a function provided by the cloudinary widget
            // when it tries to get a signature
            callback(response.data);
        }

        const processUpload = (error, result, componentName) => {
            // check if no error and make sure we have result
            // and result is successful
            console.log(error);
            console.log(result);
            if (!error && result.event == "success") {
                document.querySelector(`#id_${componentName}`).value = result.info.url;
                document.querySelector(`#uploaded_image_${componentName}`).src = result.info.thumbnail_url;
                document.querySelector(`#uploaded_image_${componentName}`).style = "display:block";
            }        
        }

        const imgComponents = [
            'product_image_1',
            'product_image_2',
            'product_gallery_1',
            'product_gallery_2',
            'product_gallery_3',
            'product_gallery_4',
            'product_gallery_5',
            'product_gallery_6',
            'product_gallery_7',
            'product_gallery_8'
        ]
        imgComponents.forEach( imgComponent => {
            // create the widget
            // ref: https://cloudinary.com/documentation/upload_widget
            let widget = cloudinary.createUploadWidget({
                'cloudName': "{{cloudinaryName}}",
                'apiKey': "{{cloudinaryApiKey}}",
                'uploadPreset':"{{cloudinaryUploadPreset}}",
                'uploadSignature': generateSignature,
                'cropping': true,
                'folder': 'luxury_preowned/products'
            }, (error, result) => {
                processUpload(error, result, imgComponent)
            });

            document.querySelector(`#upload_widget_${imgComponent}`).addEventListener('click', function(){
                widget.open();
            }, false);
        })

    </script>
    {{/block}}
{{/extends}}