{{#extends 'products'}}

    {{#block "productContent"}}
        <div class="row">
            {{!-- product listing table --}}
            <table class="mt-4 table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Price</th>
                        <th scope="col">Designer</th>
                        <th scope="col">Category</th>
                        <th scope="col">Last Update (SGT)</th>
                        <th scope="col">Consignment</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {{!-- content --}}
                <tbody>
                    {{#each products}}
                    <tr>
                        <th scope="row">{{this.id}}</th>
                        <td>{{#if this.product_image_1}}<img src="{{this.product_image_1}}" width="100" height="100" />{{/if}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.quantity}}</td>
                        <td>SGD{{toFixed this.selling_price 2}}</td>
                        <td>{{this.designer.name}}</td>
                        <td>{{this.category.name}}</td>
                        <td>{{sgtime this.updated_at}}</td>
                        <td>
                            {{#if this.consignment.id}}
                                <a href="/consignments/{{this.consignment.id}}/update">Consignment #{{this.consignment.id}}</a>
                            {{else}}
                                N/A
                            {{/if}}
                        </td>
                        <td>
                            <a type="button" class="btn btn-outline-secondary mt-1" href="/products/{{this.id}}/update">Edit</a>
                            <a type="button" class="btn btn-outline-danger mt-1" href="/products/{{this.id}}/delete">Delete</a>
                            {{#if this.active}}
                                <a type="button" class="btn btn-outline-danger mt-2" href="/products/{{this.id}}/deactivate">Deactivate</a>
                            {{else}}
                                <a type="button" class="btn btn-outline-secondary mt-1" href="/products/{{this.id}}/activate">Activate</a>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        
    {{/block}}

{{/extends}}